.settingsPage {
    background-color: #F5F5F5;
}

.headerContainer {
    position: fixed;
    width: 100%;
}

.mainContainer {
    display: flex;
    height: 100vh;
    width: 100%;
}

.photoContainer {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    background: linear-gradient(90.01deg, #2A8BF2 0.01%, #0A6CD6 99.99%);
    box-sizing: content-box;
    border: 1px solid #0A6CD6;
    padding: 130px 70px;
}

.userPhoto {
    border: 1px solid #C4C4C4;
    height: 200px;
    width: 200px;
    left: 312px;
    top: 201px;
    border-radius: 15px;

}

.changePhotoTitle {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    align-self: center;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}

.formContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.input {
    border: 1px solid #BABABA;
    height: 45px;
    width:  80%;
    border-radius: 5px;
    font-family: Montserrat, sans-serif;
    padding-left: 10px;
}

.input:focus {
    outline: none;
}


.inputContainer {
    margin: 15px 0 0 15px;
}

.button {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin: 15px 0 0 15px;
    height: 45px;
    width:  200px;
    border-radius: 5px;
    background: linear-gradient(206.57deg, #6476F4 0%, #3246D3 83.33%);
    border: none;
    color: #ffffff;
    padding: 0 15px;
    cursor: pointer;
}

.imageEdit {
    position: relative;
    right: 40px;
    top: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.unVisibleImageEdit {
    display: none;
}

.buttonContainer {
    display: flex;
}

.buttonCross {
    width: 45px;
    height: 45px;
    background: no-repeat url(../../image/icons/icon-cross.png);
    border: none;
    padding: 10px;
    margin: 20px 10px;
    cursor: pointer;
}