.itemContainer {
    background-color: #FFFFFF;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
}

.myItemContainer {
    background-color: #FFFFFF;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
}

.avatarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    margin-right: 10px;
}

.myAvatarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    margin-left: 10px;
}

.userAvatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.myUserAvatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.timeTitle {
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 500;
    opacity: 0.5;
    text-align: center;
    margin-top: 5px;
}

.myTimeTitle {
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 500;
    opacity: 0.5;
    text-align: center;
    margin-top: 5px;
}

.containerMessage {
    background-color: #F8F9FB;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-right: 55px;
}

.myContainerMessage {
    grid-row: 1 / 3;
    grid-column: 1;
    background-color: #F8F9FB;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-left: 55px;
}

.messageText {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

